.App {
  /* text-align: center;
  Commented out @OP */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #131516;
}

.App-custom-nav {
  background: #F8F9FA;
  min-height: 13%;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

.App-custom-page-content {
  padding-top: 2% ;
  padding-bottom: 2%;
  padding-right: 7% ;
  padding-left: 7% ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
