/* Nothing yet */


.thread-mainpost-content {
  padding:0.5em;
  background-color:#f2f2f2;
  word-wrap: break-word;
  border-radius:3px;
}

.comment {
  padding:1em;
  margin-top:0.25em;
  font-size:0.9em;
  background-color: rgb(245, 245, 255);
  border:1px solid rgb(185, 210, 226);
  border-radius:1px;
}
.comment:last-child {
}

.comment-left {
  border-right:1px solid #aaa;
}

.comment-content {
  word-wrap:break-word;
}

.comment-content pre {
border-left:3px dashed #aaa;
padding-left:1em;
background-color: rgb(235,235,235);
}
