.info-wrapper {
  background-image: url('/img/info_background.png');
  min-height:100vh;
  min-width:100%;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 0px;
  
  color:white;
  text-align:center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#E3EAED;
  line-height:1.6;
  
  background-size:cover;
  background-position:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

.card-no-bg {
  background:none !important;
  border:none !important;
}

.info-wrapper h1 {
    font-size: 55px;
    font-weight: 60px;
    line-height:1.2;
}
.info-wrapper p {
  font-size:20px;

} 
.front-page-icon {
  width:5.5em;
  height:5.5em;
  display: inline;
}




.info-wrapper h2{
  margin-top: 2em;
  font-weight: 700;
  font-size: 2.5rem;
}

