.edit-wrapper textarea.form-control {
  min-height: 6em;
}

.permission-form {
  cursor: pointer; 
  color: gray; 
  border-width: 1px; border-style: solid; 
  border-color: gray; 
  border-radius: 1px; 
  padding: 16px; 
  padding-left: 50px;
  flex: 1 1 0%; 
  margin-bottom: 16px; 
  margin-right: 0px;
}

.btn-app-submit {
  margin-left: 20px;
}