.login-form-wrapper {
  background-image: url('/img/login_background.jpg');
  min-height:100vh;
  background-size:cover;
  min-width:100%;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 0px;
}
.user-form-grey-filter {
  min-height:100vh;
  background-color:rgba(19, 19, 19, 0.6);
  padding: 30px 10px 10px 10px;
}

.register-form-wrapper {
  background-image: url('/img/register_background.jpg');
  min-height:100vh;
  background-size:cover;
  min-width:100%;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 0px;
}

.user-register-login-form {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  margin-bottom: 5%;
  background: #FAFAFA;
  border: 2px black;
  padding: 3%;
  color: black;
}

.form-header {
  text-align: center
}